@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated && User.IsInRole("Customer"))
{
    <p class="inline text-primary">Check out<span class="glyphicon glyphicon-shopping-cart"></span></p>
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
