body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.products {
    display:grid;
    grid-template-columns:repeat(4, 276px);
    grid-template-rows:repeat(4, 276px);
    grid-gap:12px;
}

.product {
    grid-column:span 1;
    grid-row:span 1;
    border:1px solid #EEEEEE;
    padding:10px;
    color:black;
    text-decoration:none;
}

.product:hover, .firstproduct:hover {
    background-color:#EEEEEE;
    color:black;
    text-decoration:none;
}

.product img, .firstproduct img {
    width:100%;
    height:auto;
}

.product p, .firstproduct p {
    display:inline;
}

.product p .btn-success, .firstproduct p .btn-success {
    float:right;
}

.firstproduct {
    grid-column: span 2;
    grid-row: span 2;
    border: 1px solid #EEEEEE;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.body-content {
    margin-left:6.5vw;
}

.glyphicon-shopping-cart {
    margin-right:5px;
}

@media only screen and (max-width:1140px) {
    .products {
        grid-template-columns: repeat(auto-fit, 276px);
    }
}